{% extends 'ProjectsBlogBundle::layout.html.twig' %}
{% block content %}
    <section class="posts">
        <article>
            <header>
                <h2>Все категории</h2>
            </header>
            <ul>
            {% for category in categories %}
                <li><a href="{{ path('category', {'slug': category.slug}) }}">{{category.title}}</a></li>
            {% endfor %}
            </ul>
        </article>
    </section> <!-- .posts -->
{% endblock %}
