{% extends 'ProjectsBlogBundle::layout.html.twig' %}
{% block content %}
    <section class="posts">
    {% autoescape false %}
        <article>
            <header>
                <h2>{{pageTitle}}</h2>
            </header>
            <p>{{post}}</p>
        </article>
    {% endautoescape %}
    </section> <!-- .posts -->
{% endblock %}
