{% extends 'ProjectsBlogBundle::layout.html.twig' %}
{% block content %}
    <section class="posts">
        <article>
            <header>
                <h2>{{page.title | raw}}</h2>
            </header>
            <p>{{page.post | raw}}</p>
        </article>
    </section> <!-- .posts -->
{% endblock %}
